@model scheduler.Models.SchedulerViewModels.EventViewModel

<div class="mdl-grid">
    <div class="mdl-cell">
        <div class="mdl-textfield mdl-js-textfield">
            <input required class="mdl-textfield__input" asp-for="EventTitle" id="title" type="text">
            <label class="mdl-textfield__label" asp-for="EventTitle" for="title">Event Title</label>
        </div>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell">
        <div class="mdl-textfield mdl-js-textfield">
            <input required class="mdl-textfield__input" asp-for="EventDescription" id="desc" type="text">
            <label class="mdl-textfield__label" asp-for="EventDescription" for="desc">Event Description</label>
        </div>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" asp-for="InviteeEmails" name="InviteeEmails" id="emails" type="text">
            <label class="mdl-textfield__label" asp-for="InviteeEmails" for="emails">Invitee emails</label>
        </div>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell" >
        <div class="mdl-textfield mdl-js-textfield">
            <input required class="mdl-textfield__input" asp-for="StartDate" id="startDate" type="date">
            <!--<label class="mdl-textfield__label" asp-for="StartDate" for="startDate">Start Date</label>-->
        </div>
    </div>
    <div class="mdl-cell">
        <div class="mdl-textfield mdl-js-textfield">
            <input required class="mdl-textfield__input" asp-for="EndDate" id="endDate" type="date">
            <!--<label class="mdl-textfield__label" asp-for="EndDate" for="endDate">End Date</label>-->
        </div>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell" >
        <div class="mdl-textfield mdl-js-textfield">
            <input required class="mdl-textfield__input" asp-for="StartTime" id="startTime" type="time">
            <!--<label class="mdl-textfield__label" asp-for="StartDate" for="startDate">Start Date</label>-->
        </div>
    </div>
    <div class="mdl-cell">
        <div class="mdl-textfield mdl-js-textfield">
            <input required class="mdl-textfield__input" asp-for="EndTime" id="endTime" type="time">
            <!--<label class="mdl-textfield__label" asp-for="EndDate" for="endDate">End Date</label>-->
        </div>
    </div>
</div>