@using Microsoft.AspNetCore.Identity 
@using scheduler.Models 

@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>@ViewData["Title"] - Scheduler</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <environment names="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/lib/mdl/dist/css/material.css" />
            <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/dist/css/bootstrap-datetimepicker.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/lib/mdl/dist/css/material.min.css" />
            <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/dist/css/bootstrap-datetimepicker.min.css" />
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
        <style>
            .intro {
                background: 
                linear-gradient(
                rgba(255, 255, 255, 0.5), 
                rgba(255, 255, 255, 0.5)), 
                url('/images/scheduler_banner.jpg') center no-repeat;
            }
            .invite-screen .mdl-card__title {
                background: url('/images/email.svg') center 15% no-repeat rgb(96, 125, 139);
            }
            .time-screen .mdl-card__title {
                background: url('/images/clock.svg') center 15% no-repeat rgb(96, 125, 139);
            }
            .schedule-screen .mdl-card__title {
                background: url('/images/presentation.svg') center 15% no-repeat rgb(96, 125, 139);
            }
        </style>
    </head>

    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">            
            <!-- Header Content -->
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Scheduler</span>
                    <div class="mdl-layout-spacer"></div>
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="mdl-navigation__link" asp-area="" asp-controller="Home" asp-action="About">About</a> 
                        @if(SignInManager.IsSignedIn(User)) {
                            <a class="mdl-navigation__link" asp-area="" asp-controller="Scheduler" asp-action="ViewCalendar">View Calendar</a>                        
                        } 
                        @await Html.PartialAsync("_LoginPartial")
                    </nav>
                </div>
            </header>

            <!-- Naviation Drawer -->
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Scheduler</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="mdl-navigation__link" asp-area="" asp-controller="Home" asp-action="About">About</a> 
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="mdl-navigation__link" asp-area="" asp-controller="Scheduler" asp-action="ViewCalendar">View Calendar</a>                    
                    } 
                    @await Html.PartialAsync("_LoginPartial")
                </nav>
            </div>

            <!-- Main Content -->
            <main class="mdl-layout__content">
                <a name="top"></a>  
                <div class="page-content">
                    @RenderBody()
                </div>

                <div class="mdl-layout-spacer"></div>

                <!-- Footer Content -->
                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo">&copy; 2017 - Scheduler</div>        
                    </div>
                    <div class="mdl-mini-footer__right-section">
                        <a class="mdl-typography--font-light" href="#top">
                            Back to Top
                            <i class="material-icons">expand_less</i>
                        </a>
                    </div>
                </footer>
            </main>

            <!-- Footer Content -->
            <!--<footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo">&copy; 2017 - Scheduler</div>        
                </div>
                <div class="mdl-mini-footer__right-section">
                    <a class="mdl-typography--font-light" href="#top">
                        Back to Top
                        <i class="material-icons">expand_less</i>
                    </a>
                </div>
            </footer>-->
        </div>
        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/mdl/dist/js/material.js"></script>
            <script src="~/lib/moment/dist/moment.js"></script>
            <script src="~/lib/bootstrap-datetimepicker/dist/js/bootstrap-datetimepicker.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="~/lib/mdl/dist/js/material.min.js"></script>
            <script src="~/lib/moment/dist/moment.min.js"></script>
            <script src="~/lib/bootstrap-datetimepicker/dist/js/bootstrap-datetimepicker.min.js"></script>
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/lib/mdl/dist/js/material.js"></script>
            <script src="~/lib/moment/dist/moment.js"></script>
            <script src="~/lib/bootstrap-datetimepicker/dist/js/bootstrap-datetimepicker.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="~/lib/mdl/dist/js/material.min.js"></script>
            <script src="~/lib/moment/dist/moment.min.js"></script>
            <script src="~/lib/bootstrap-datetimepicker/dist/js/bootstrap-datetimepicker.min.js"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>
        @RenderSection("scripts", required: false)
    </body>
</html>
