@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

<div class="mdl-typography--display-1-color-contrast header">@ViewData["Title"]</div>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="input-form">
    @Html.AntiForgeryToken()
    
    <div class="mdl-grid">
        <div class="mdl-cell">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="email" id="email" asp-for="Email">
                <label class="mdl-textfield__label" for="email" asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        
        <div class="mdl-cell">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="password" id="password" asp-for="Password">
                <label class="mdl-textfield__label" for="password" asp-for="Password">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">Log in</button>       
        </div>
    </div>
</form>

<div class="mdl-grid">
    <p>
        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
    </p>
    <p>
        <a asp-action="ForgotPassword">Forgot your password?</a>
    </p>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
