@model RegisterViewModel
@{
    ViewData["Title"] = "Account Registration";
}

<div class="mdl-typography--display-2-color-contrast header">@ViewData["Title"]</div>
<div class="mdl-typography--display-1-color-contrast header">Create a new account</div>
<div asp-validation-summary="All" class="text-danger"></div>

<div class="mdl-grid">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone input-form">
        @Html.AntiForgeryToken()
        
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--11-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-textfield mdl-js-textfield">
                    <input required class="mdl-textfield__input" type="email" id="email" asp-for="Email">
                    <label class="mdl-textfield__label" for="email" asp-for="Email">Email</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            
            <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--11-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-textfield mdl-js-textfield">
                    <input required class="mdl-textfield__input" type="password" id="password" asp-for="Password">
                    <label class="mdl-textfield__label" for="password" asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--11-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div class="mdl-textfield mdl-js-textfield">
                    <input required class="mdl-textfield__input" type="password" id="confirmPassword" asp-for="ConfirmPassword">
                    <label class="mdl-textfield__label" for="confirmPassword" asp-for="ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">Register</button>       
            </div>
        </div>
    </form>
    <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone password-requirements">
        <div class="mdl-typography--display-1-color-contrast header">Password Requirements:</div>
        <ul class="mdl-list">
            <li class="mdl-list__item">Minimum of 6 characters </li>
            <li class="mdl-list__item">Must have at least one uppercase and lowercase letter </li>
            <li class="mdl-list__item">Must have at least one number</li>
            <li class="mdl-list__item">Must have at least one special character</li>
            <li class="mdl-list__item">Cannot contain your username </li>
            <li class="mdl-list__item">Cannot be a previously used password </li>
        </ul>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
