@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="mdl-typography--display-2-color-contrast mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone header">@ViewData["Title"]</div>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
    @Html.AntiForgeryToken()

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-textfield mdl-js-textfield">
                <input required class="mdl-textfield__input" type="password" id="oldPassword" asp-for="OldPassword">
                <label class="mdl-textfield__label" for="oldPassword" asp-for="OldPassword">Current Password</label>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-textfield mdl-js-textfield">
                <input required class="mdl-textfield__input" type="password" id="newPassword" asp-for="NewPassword">
                <label class="mdl-textfield__label" for="newPassword" asp-for="NewPassword">New Password</label>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--3-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-textfield mdl-js-textfield">
                <input required class="mdl-textfield__input" type="password" id="confirmPassword" asp-for="ConfirmPassword">
                <label class="mdl-textfield__label" for="confirmPassword" asp-for="ConfirmPassword">Confirm New Password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--5-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" type="submit">Submit</button>       
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
