@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<div class="mdl-typography--display-2-color-contrast mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone header">@ViewData["Title"]</div>
<div class="mdl-typography--headline-color-contrast header">@ViewData["StatusMessage"]</div>

<div class="account-settings">
    <div class="mdl-typography--display-1-color-contrast header">Password</div>
    <div class="password-settings">
        <a asp-controller="Manage" asp-action="ChangePassword">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button">Change</button>
        </a>
    </div>
</div>
