@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Schedule meetings with your coworkers without the hassle of talking to everyone individually. <br>
Just select who needs to attend the meeting and the Scheduler will add the event to their calendars. 
</p>
