@{
    ViewData["Title"] = "About";
}

<div class="mdl-typography--display-2-color-contrast mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone header">@ViewData["Title"]</div>
<div class="mdl-typography--headline-color-contrast header">
    <div>Schedule meetings with your coworkers without the hassle of talking to everyone individually.</div>
    <div>Just select who needs to attend the meeting and the Scheduler will add the event to their calendars.</div>
</div>
