@{
    ViewData["Title"] = "Home Page";
}
<div class="top-banner">
    <h1>Break free from manual meetings.</h1>
    <img src="~/images/scheduler-Banner.jpg">
</div>
<br>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="icon-images">
        <img src="~/images/email.svg" alt="email-icon" class="img-responsive" />
        </div>
        <center><h2>Pick People</h2></center>
        <ul>
            <div class="icon-text">
         <p>Enter email addresses of your attendees.</p>
            </div>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="icon-images">
        <img src="~/images/clock.svg" alt="clock-icon" class="img-responsive" />
        </div>
        <center><h2>Pick a Time</h2></center>
        <ul>
            <div class="icon-text">
            <p>The app will return the next 3 available times that all attendees are available.</p>
            </div>
        </ul>
    </div>
    <div class="col-md-4">
        <div class="icon-images">
        <img src="~/images/presentation.svg" alt="presentation-icon" class="img-responsive" />
        </div>
        <center><h2>Schedule Meeting</h2></center>
        <ul>
            <div class="icon-text">
            <p>Meet with your attendees!</p>
            </div>
        </ul>
    </div>
    </div>
</div>
