@using Microsoft.AspNetCore.Http
@model scheduler.Models.SchedulerViewModels.EventViewModel

@{
    ViewData["Title"] = "Edit Event";
}
<h2>Edit Event</h2>

<form asp-controller="Scheduler" asp-action="UpdateEvent" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    @Html.AntiForgeryToken()
    
    @{ await Html.RenderPartialAsync("_EventForm", Model); }

    @Html.HiddenFor(model => model.EventId)

    <div class="mdl-grid">
        <div class="mdl-cell">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Update Meeting</button>
        </div>
    </div>
</form>

