@using Microsoft.AspNetCore.Http
@model scheduler.Models.SchedulerViewModels.EventViewModel

@{
    ViewData["Title"] = "Create New Event";
}
<h2>Create New Event</h2>

<form asp-controller="Scheduler" asp-action="CreateEvent" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    @Html.AntiForgeryToken()
    
    @{ await Html.RenderPartialAsync("_EventForm", Model); }

    <div class="mdl-grid">
        <div class="mdl-cell">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Schedule Meeting</button>
        </div>
    </div>
</form>

