@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@model scheduler.Models.SchedulerViewModels.EventViewModel

@{
    ViewData["Title"] = "Schedule";
}
<h2>@ViewData["Message"]</h2>

<form asp-controller="Scheduler" asp-action="CreateEvent" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">

    <div class="event-description-container col-xs-12">
        <div>
            <div class="form-group">
                <label asp-for="EventTitle" for="inputdefault">Event Title</label>
                <input asp-for="EventTitle" class="form-control" id="inputdefault" type="text">
            </div>
            <div class="form-group">
                <label asp-for="EventDescription" for="inputdefault">Event Description</label>
                <input asp-for="EventDescription" class="form-control" id="inputdefault" type="text">
            </div>
        </div>
    </div>

    <div class="contact-container">
        <div class="row">
            <div class="control-group col-xs-3" id="fields">
                <labelclass="control-label">Enter a contact to add to the meeting</label>
                <div class="controls"> 
                    <div role="form" autocomplete="off">
                        <div class="entry input-group ">
                            <input asp-for="InviteeEmails[0]" class="form-control" name="fields[]" type="text" placeholder="E-mail Address"/>
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-add" type="button">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                <br>
                <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another contact</small>
                </div>
            </div>
        </div>    
    </div>
    
    <div class="date-container"> 
        <label class="form-label" asp-for="StartDate" for="field1">Choose a date range for the meeting</label>  
        <div class="row"> 
            <div class='col-xs-3'>
                <div class="form-group">          
                    <div class='input-group date' id='datetimepicker1'>
                        <input asp-for="StartDate" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-xs-3'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        <input asp-for="EndDate" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="time-container"> 
        <label class="form-label" asp-for="StartTime" for="field1">Choose a time range for the meeting</label>  
        <div class="row"> 
            <div class='col-xs-3'>
                <div class="form-group">          
                    <div class='input-group date' id='datetimepicker3'>
                        <input asp-for="StartTime" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class='col-xs-3'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker4'>
                        <input asp-for="EndTime" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="button-container">
        <input class="btn btn-primary" type="submit" value="Schedule Meeting">
    </div>
</form>

