@using Microsoft.AspNetCore.Http
@model scheduler.Models.SchedulerViewModels.EventViewModel

@{
    ViewData["Title"] = "Remove Event";
}

<div class="mdl-typography--display-1-color-contrast header">Are you sure you want to remove "@Model.EventTitle"?</div>

<form asp-controller="Scheduler" asp-action="DeleteEvent" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="remove-event">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.EventId)

    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">Remove</button>
    <a asp-controller="Scheduler" asp-action="ViewCalendar">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button">Cancel</button>
    </a>
</form>

