html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.mdl-layout__content {
  display: flex;
  flex-flow: column nowrap;
}

.page-content {
  flex-grow: 1;
}

.mdl-layout__header .mdl-navigation .logout-form {
    display: flex;
}

.mdl-layout__drawer .mdl-navigation .logout-form {
    display: flex;
    flex-direction: column;
}

.mdl-navigation .logout-form button {
    background:none!important;
    text-align: left;
    color:inherit;
    border:none; 
    padding: 16px 40px;
    font: inherit;
    cursor: pointer;
}

.mdl-navigation .logout-form button:hover {
    text-decoration: underline;
}

.intro {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background-size: cover !important;
}

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.intro-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.intro-sub-slogan {
  font-size: 40px;
  padding-top: 24px;
}

.intro-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  color: black !important;
}

.intro-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.mdl-cell {
  display: flex;
  justify-content: center;
}

.mdl-card {
  width: 320px;
  height: 320px;
}

.mdl-card__title {
  color: #fff;
  background-size: 75% 75% !important;
}

.mdl-mini-footer {
  background: rgb(96, 125, 139);
  color: #fff;
}

.mdl-mini-footer__right-section a {
    color: #fff;
}

.mdl-mini-footer__right-section a .material-icons {
    position: relative;
    top: 6px;
}

.header {
  padding: 20px;
}

.password-requirements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.calendar-header {
  align-items: center;
}

.calendar-event .event-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.calendar-event .event-info .mdl-card__title {
  color: black;
}

@media (max-width: 900px) {
  .mdl-navigation {
    display: none;
  }

  .intro-title {
    display: none !important;
  }

  .intro-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .intro {
    height: 350px;
  }

  .intro-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .intro-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .intro-fab {
    display: none;
  }
}