html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.mdl-layout__header .mdl-navigation .logout-form {
    display: flex;
}

.mdl-layout__drawer .mdl-navigation .logout-form {
    display: flex;
    flex-direction: column;
}

.mdl-navigation .logout-form button {
    background:none!important;
    text-align: left;
    color:inherit;
    border:none; 
    padding: 16px 40px;
    font: inherit;
    cursor: pointer;
}

.mdl-navigation .logout-form button:hover {
    text-decoration: underline;
}